{% load custom_tags %}

<header class="header">
    <div class="container header__container">
        <div class="header__row">
            {% img_tag src="m-header/m-header-logo.svg" width="200" height="65" classes="header__logo" alt="Флоренция" %}
            <div class="header__address">
                <a href="#" class="header__address-link link">
                    <span>
                        <span class="header__address-link_city">{{ data.common.city|safe }}</span>
                        <br>
                        <span>{{ data.common.street|safe }}</span>
                    </span>
                </a>
            </div>
            <div class="header__data">
                <a href="#" class="header__phone nobr">
                    {% if data.common.is_moderate %}
                        {{ data.common.phone_moderate|safe}}
                    {% else %}
                        {{ data.common.phone|safe}}
                    {% endif %}
                </a>
                {% if data.common.work_time %}
                    <span class="header__worktime">
                        {{ data.common.work_time }}
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
</header>