{% load custom_tags %}

<div class="fs">
    <div class="container">
        <div class="fs__grid">
            <div class="fs__data">
                <h1 class="fs__title">{{ data.first_screen.title|safe }}</h1>
                <div class="fs__location">{{ data.first_screen.location|safe }}</div>
                <p class="fs__subtitle">
                    <span>{{ data.first_screen.subtitle|safe }}</span>
                </p>
            </div>
            <div class="fs__employee">
                <div class="fs__employee-img-wrapper">
                    {% img_tag src="m-first-screen/m-first-screen-doctor.webp" width="572" height="491" classes="" alt="Врач" %}
                </div>
                <div class="fs__employee-inform">
                    <div class="fs__employee-experience">{{ data.first_screen.employee_experience|safe }} стажа</div>
                    <div class="fs__employee-profession">{{ data.first_screen.employee_profession|safe }}</div>
                    <div class="fs__employee-fio">{{ data.first_screen.employee_fio|safe }}</div>
                </div>
            </div>
            <div class="fs__prices">
                <div class="fs__prices-item">
                    <div class="fs__prices-item-img-wrapper">
                        {% img_tag src="m-first-screen/m-first-screen-price-1.webp" width="209" height="142" classes="fs__prices-item-img" alt="Имплантация «Всё на 4-х»" %}
                    </div>
                    <p class="fs__prices-text">
                        {{ data.first_screen.service_1_title|safe }}
                    </p>
                    <div class="fs__prices-price">
                        <span class="fs__price-old nobr through">
                            {{ data.first_screen.service_1_old_price|safe }}
                        </span>
                        <span class="fs__price-new nobr">
                            {{ data.first_screen.service_1_new_price|safe }}
                        </span>
                    </div>
                </div>
                <div class="fs__prices-item">
                    <div class="fs__prices-item-img-wrapper">
                        {% img_tag src="m-first-screen/m-first-screen-price-2.webp" width="209" height="142" classes="fs__prices-item-img" alt="Имплантация 1 зуба" %}
                    </div>
                    <p class="fs__prices-text">{{ data.first_screen.service_2_title|safe }}</p>
                    <div class="fs__prices-price">
                        <span class="fs__price-old nobr through">
                            {{ data.first_screen.service_2_old_price|safe }}
                        </span>
                        <span class="fs__price-new nobr">
                            {{ data.first_screen.service_2_new_price|safe }}
                        </span>
                    </div>
                </div>
            </div>         
            <div class="fs__present">
                <div class="fs__present-title">{{ data.first_screen.gifts_title|safe }}</div>        
                <ul class="fs__present-list">
                    {% for gift in data.first_screen.gifts.all %}
                        <li>{{ gift.title|safe }}</li>
                    {% endfor %}
                    <li>
                        <div class="fs__present-but-wrapper">
                            <button class="fs__present-but button">
                                Рассчитать стоимость<br>
                                <span class="fs__present-but_text">и получить подарки</span>
                            </button>
                        </div>
                    </li>
                </ul>
                {% img_tag src="m-first-screen/m-first-screen-gift.webp" width="214" height="198" classes="fs__present-img" alt="Подарок" %}
            </div>
         </div>
     </div>
</div>