.advantages {
    padding-top: 130px;
}

.advantages__grid {
    display: grid;
    grid-template-areas: 
    "advantages__img advantages__title"
    "advantages__img advantages__info"
    "advantages__items advantages__items";
    column-gap: 87px;
    row-gap: 34px;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
}

.advantages__img {
    grid-area: advantages__img;
}

.advantages__title {
    grid-area: advantages__title;
    padding-top: 31px;
    max-width: 920px;
    min-width: 670px;
}

.advantages__info-list {
    grid-area: advantages__info;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    max-width: 440px;
    margin-top: 12px;

    li {
        display: flex;
        column-gap: 10px;
        font-size: 20px;
        line-height: 26px;
        
        &::before {
            content: '';
            flex-shrink: 0;
            display: block;
            width: 10px;
            height: 10px;
            background: $dots_bg;
            border-radius: 100px;
            margin-top: 8px;
        }
    }
}

.advantages__items-list {
    grid-area: advantages__items;
    display: flex;
    gap: 14px;
}

.advantages__item {
    display: flex;
    align-items: center;
    column-gap: 25px;
    flex-basis: 33%;
    padding: 29px 32px 29px 19px;
    background: $bg_cl_4;
    border-radius: 20px;
}

.advantages__item-text {
    font-size: 18px;
    line-height: 23.5px;
}

@include laptop {

    .advantages {
        padding-top: 100px;
    }

    .advantages__grid {
        column-gap: 34px;
        row-gap: 30px;
    }

    .advantages__items-list {
        flex-wrap: wrap;
    }

    .advantages__item {
        flex-basis: calc(50% - 7px);
        padding: 18px 32px 17px 20px;

        &:last-child {
            flex-basis: 100%;
        }
    }

    .advantages__item-img {
        width: 65px;
        height: 65px;
    }
}

@include tablet {

    .advantages {
        padding-top: 80px;
    }
    
    .advantages__grid {
        grid-template-areas: 
        "advantages__title advantages__title"
        "advantages__img advantages__items"
        "advantages__info advantages__items";
        column-gap: 15px;
        row-gap: 0;
    }

    .advantages__img {
        margin-right: 30px;
    }

    .advantages__title {
        min-width: unset;
        max-width: 650px;
        padding-top: 0;
        margin-bottom: 30px;
    }

    .advantages__info-list {
        max-width: 390px;

        li {
            font-size: 18px;
            line-height: 23px;
        }
    }

    .advantages__items-list {
        margin-top: 30px;
        row-gap: 10px;
        min-width: 465px;
    }

    .advantages__item {
        flex-basis: unset;
        padding: 16px 60px 15px 15px;
        width: 100%;
        border-radius: 13px;
    }

    .advantages__item-img {
        width: 60px;
        height: 60px;
    }
}

@include mobile {

    .advantages {
        padding-top: 60px;
    }

    .advantages__grid {
        grid-template-areas: 
        "advantages__title advantages__title"
        "advantages__img advantages__info"
        "advantages__items advantages__items";
        grid-template-columns: 1fr auto;
    }

    .advantages__img {
        min-width: 110px;
        margin-right: 0;
    }

    .advantages__info-list {
        column-gap: 9px;

        li {
            font-size: 16px;
            line-height: 19px;

            &::before {
                width: 8px;
                height: 8px;
            }
        }
    }

    .advantages__items-list {
        width: 100%;
        min-width: unset;
        margin: 25px -15px 0 -15px;
        width: calc(100% + 30px);
    }

    .advantages__item {
        margin: 0;
        padding: 13px 15px;
        column-gap: 8px;
        min-height: 90px;
    }

    .advantages__item-img {
        width: 45px;
        height: 45px;
    }
    
    .advantages__item-text {
        font-size: 16px;
        line-height: 19px;
    }
}