{% load custom_tags %}

<section class="advantages">
    <div class="container">
        <div class="advantages__grid">
            <div class="advantages__img">
                {% img_tag src="m-advantages/m-advantages-doctor.webp" width="342" height="342" classes="" alt="Врач" %}
            </div>
            <h2 class="h2 advantages__title">
                {{ data.advantages_screen.title|safe }}
            </h2>
            <ul class="advantages__info-list">
                {{ data.advantages_screen.info_list|safe }}
            </ul>
            <ul class="advantages__items-list">
                {% for advantage in data.advantages_screen.advantages.all %}
                    <li class="advantages__item">
                        {% img_tag src=advantage.image is_absolute_src=True width="72" height="72" classes="advantages__item-img" alt="Преимущество" %}
                        <div class="advantages__item-text">
                            <div class="bold">{{ advantage.title|safe }}</div>
                            {{ advantage.subtitle|safe }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>